{% extends "layout.njk" %}

{% block content %}
    <section class="cards">

      {% for item in items %}

      <a href="/revenue" class="card" id="burger.png" target="_blank">
        <div class="img_revenue">
          <img src="{{item.image}}" alt="" />
        </div>
        <div class="title_revenue">
          <p>{{item.title}}</p>
        </div>
        <div class="author_revenue">
          <p>{{item.author}}</p>
        </div>
      </a>
    
    {% endfor %}
    
    </section>

    <script src="/scripts.js"></script>
 
 {% endblock %}
