{% extends "layout.njk" %}

{% block content %}

  <div class="card_revenue">
    <div class="img_revenue_id">
      <img src="{{item.image}}" alt=""/>
    </div>
    <div class="title_revenue_id">
      <p>{{item.title}}</p>
    </div>
    <div class="author_revenue_id">
      <p>{{item.author}}</p>
    </div>

    <div class="topic-ingredients">
      <div class="grid_revenue_id">
        <p class="subtitles_revenue_id">Ingredientes
        </p>
        <p class="showorhide-revenue">Esconder</p>
      </div>
      <div class="ingredients">
        <p>{{item.ingredients}}</p>
      </div>
    </div>

    <div class="grid_revenue_id">
      <p class="subtitles_revenue_id">Modo de Preparo</p>
      <span class="showorhide-preparation">Esconder</span>
    </div>
    <div class="preparation">
      <p>{{item.preparation}}</p>
    </div>
    <div class="grid_revenue_id">
      <p class="subtitles_revenue_id">Informações Adicionais</p>
      <span class="showorhide-addinfos">Esconder</span>
    </div>
    <div class="information">
      <p>{{item.information}}</p>
    </div>
  </div>

  <script src="/scripts.js"></script>

{% endblock %}